{% extends 'Storehuz/base.html' %}
{% load static %}
{% block content %}

<hr>
  <!-- ======= Hero Slider Section ======= -->
  <section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#" class="img-bg d-flex align-items-end" style="background-image: url({% static 'storehuz/assets/img/post-slide-1.jpg' %});">
                  <div class="img-bg-inner">
                    <h2>Search for the true Prophet </h2>
                    <p>The essence of an introduction of many deceivers(fake prophet) is to raise the intensity for a search for the true original.</p>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a href="#" class="img-bg d-flex align-items-end" style="background-image: url({% static 'storehuz/assets/img/post-slide-2.jpg' %});">
                  <div class="img-bg-inner">
                    <h2>Is your believe about God true?</h2>
                    <p>We believe that whatever God doeth it shall be forever and you believe that God has made this world including you, are you sure your believe is true?</p>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a href="#" class="img-bg d-flex align-items-end" style="background-image: url({% static 'storehuz/assets/img/post-slide-3.jpg' %});">
                  <div class="img-bg-inner">
                    <h2>Did man knew he would die before he started dying?</h2>
                    <p></p>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a href="#" class="img-bg d-flex align-items-end" style="background-image: url({% static 'storehuz/assets/img/post-slide-5.jpg' %});">
                  <div class="img-bg-inner">
                    <h2>Believing in the bible does not mean we know how it would work.</h2>
                    <p></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Slider Section -->


    
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-post' post.author.username  %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}

                  
              <h2 class="article-title">{{ object.title }}</h2>
            
            {{ post.body|safe }}
        </div>
            </div>
        </article>

    
{% endblock %}    
